<mat-card class="login-card">
  <button class="btn-dialog-close" mat-stroked-button (click)="closeLogin()">
    <mat-icon>clear</mat-icon>
  </button>
  <mat-card-title class="login-form-title"
    >Log in to Expense Manager</mat-card-title
  >
  <mat-card-content>
    <form
      class="login-form"
      #loginform="ngForm"
      (submit)="proceedLogin(loginform)"
    >
      <mat-form-field class="login-form-field">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          emailFormControl
          placeholder="Ex. pat@example.com"
          name="email"
          required
          [(ngModel)]="email"
        />
      </mat-form-field>

      <mat-form-field class="login-form-field">
        <mat-label>Password</mat-label>
        <input
          type="password"
          passwordFormControl
          matInput
          name="password"
          required
          [(ngModel)]="password"
        />
      </mat-form-field>

      <div>
        <a routerLink="/" class="forgot-password">Forgot Password</a><br />
        <button mat-raised-button color="primary" class="login">Login</button
        ><br />

        <a mat-button routerLink="/register" class="new-user"
          >New User? Sign up?</a
        >
      </div>
    </form>
  </mat-card-content>
</mat-card>
<router-outlet></router-outlet>
