.expense-table {
  margin: auto;
  margin: auto;
}
.expense-table table {
  width: 100%;
}
.expense-table table th {
  font-size: 17px;
  font-weight: 500;
}
.hide {
  display: none;
}
.show{
  display: contents;
}
center {
  text-align: center;
}
.list-container{
    width: 90%;
    margin: auto;
}
.search-icon{
    position: relative;
    top:5px;
}
